body{
    margin: 0;
    padding: 0;
}
.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }

  .icons-contact{
    
      background-color:#fff;
  }
  .icons-contact>a{
      margin: 4px;
      color: black;
  }

  a{
      text-decoration: none;
      color: #fff;
  }

  svg{
      width: 270px;
      height: 230px;
  }

  .nueva_seccion{
      background-color: #100901;
      width: 100%;
      height: 5px;
      margin: auto;
  }

  .sidebar{
      height: 100%;
      z-index: 1000;
  }

  .menu-btn{
    margin-top: 25px;
    position: fixed;
    z-index: 1000;
  }

 
  .ir-arriba {
    padding:20px;
    cursor:pointer;
    position: fixed;
    bottom:15px;
      right:20px;
      border-radius: 30px;
      z-index: 1000000;
      font-size: 50px;
      color: #100901;
  }